@import '../fonts/fonts.css';
/*
    STASH SITE STYLING
    @author David Khourshid
 */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
* {
  position: relative;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.border-box {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}
.smooth {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.mobile {
  display: none;
}
a.post-edit-link {
  display: none;
}
.article-style {
  width: 100%;
  padding: 14px 0;
  margin: 0 auto;
  min-height: 400px;
}
.article-style > div {
  width: 75%;
  margin: 0 auto;
  padding: 0;
}
.article-style > div h1 {
  font-family: 'lavanderia_sturdy';
  font-size: 36px;
  text-align: center;
}
.article-style > div h2 {
  font-family: 'cartonslab', serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.article-style > div h3 {
  font-size: 20px;
  text-align: center;
}
.article-style > div h1,
.article-style > div h2,
.article-style > div h3,
.article-style > div h4 {
  margin: 14px 0;
  font-weight: normal;
}
.article-style > div h1 + h2 {
  margin-top: -14px;
}
.article-style > div p {
  font-weight: bold;
  font-size: 16px;
}
.article-style > div > div.columns {
  -moz-column-width: 50%;
  -moz-column-count: 2;
  -moz-column-gap: 28px;
  -moz-column-rule-color: transparent;
  -moz-column-rule-style: none;
  -moz-column-rule-width: 0;
  -webkit-column-width: 50%;
  -webkit-column-count: 2;
  -webkit-column-gap: 28px;
  -webkit-column-rule-color: transparent;
  -webkit-column-rule-style: none;
  -webkit-column-rule-width: 0;
  column-width: 50%;
  column-count: 2;
  column-gap: 28px;
  column-rule-color: transparent;
  column-rule-style: none;
  column-rule-width: 0;
}
.article-style > div > div.columns > p {
  font-weight: bold;
}
.article-style > div > div.columns > p:first-child {
  margin-top: 0;
}
.article-style.narrow > div > div {
  width: 75%;
  margin: 0 auto;
}
.article-style img {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
body {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'foundrysterling-mediumregular';
  font-size: 16px;
}
body .wrapper {
  width: 100%;
  margin: 0;
  /* HEADER */

}
body .wrapper .header {
  height: 300px;
}
body .wrapper .header .logo {
  text-align: center;
  margin-top: 42px;
  z-index: 2;
}
body .wrapper .header nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
}
body .wrapper .header nav .menu {
  position: absolute;
  width: 100%;
  top: 42px;
}
body .wrapper .header nav .menu > ul {
  margin: 0;
  padding: 0;
}
body .wrapper .header nav .menu > ul > li {
  font-family: 'cartonslab', serif;
  color: white;
  padding: 28px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  float: right;
}
body .wrapper .header nav .menu > ul > li > a {
  font-size: 16px;
  color: white;
  text-shadow: 0 0 5px #666;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
body .wrapper .header nav .menu > ul > li > a:hover {
  color: #c7fffd;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
body .wrapper .header nav .menu > ul > li.left {
  float: left;
}
body .wrapper #background_image {
  background-image: url('../stash-img/home/home.header.jpg');
  position: absolute;
  height: 700px;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
}
body .wrapper #background_image.blog-background-image {
  height: 600px;
}
body .wrapper section {
  width: 100%;
  zoom: 1;
}
body .wrapper section:before,
body .wrapper section:after {
  content: "";
  display: table;
}
body .wrapper section:after {
  clear: both;
}
body .wrapper section > h1 {
  display: none;
}
body .wrapper section article {
  width: 100%;
  padding: 14px 0;
  margin: 0 auto;
  min-height: 400px;
}
body .wrapper section article > div {
  width: 75%;
  margin: 0 auto;
  padding: 0;
}
body .wrapper section article > div h1 {
  font-family: 'lavanderia_sturdy';
  font-size: 36px;
  text-align: center;
}
body .wrapper section article > div h2 {
  font-family: 'cartonslab', serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
body .wrapper section article > div h3 {
  font-size: 20px;
  text-align: center;
}
body .wrapper section article > div h1,
body .wrapper section article > div h2,
body .wrapper section article > div h3,
body .wrapper section article > div h4 {
  margin: 14px 0;
  font-weight: normal;
}
body .wrapper section article > div h1 + h2 {
  margin-top: -14px;
}
body .wrapper section article > div p {
  font-weight: bold;
  font-size: 16px;
}
body .wrapper section article > div > div.columns {
  -moz-column-width: 50%;
  -moz-column-count: 2;
  -moz-column-gap: 28px;
  -moz-column-rule-color: transparent;
  -moz-column-rule-style: none;
  -moz-column-rule-width: 0;
  -webkit-column-width: 50%;
  -webkit-column-count: 2;
  -webkit-column-gap: 28px;
  -webkit-column-rule-color: transparent;
  -webkit-column-rule-style: none;
  -webkit-column-rule-width: 0;
  column-width: 50%;
  column-count: 2;
  column-gap: 28px;
  column-rule-color: transparent;
  column-rule-style: none;
  column-rule-width: 0;
}
body .wrapper section article > div > div.columns > p {
  font-weight: bold;
}
body .wrapper section article > div > div.columns > p:first-child {
  margin-top: 0;
}
body .wrapper section article.narrow > div > div {
  width: 75%;
  margin: 0 auto;
}
body .wrapper section article img {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
body .wrapper section form input {
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  color: #00948e;
  padding: 0 14px;
  margin-right: 14px;
  line-height: 42px;
  height: 42px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}
body .wrapper section form button {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'lavanderia_sturdy', sans-serif;
  background: red;
  color: white;
  font-size: 18px;
  border: none;
  padding: 0 14px;
  line-height: 42px;
  height: 42px;
}
body .wrapper section#blog_header article#blog_header_title {
  min-height: 0;
  background: rgba(0, 148, 142, 0.65);
  margin-bottom: 100px;
  margin-top: -100px;
}
body .wrapper section#blog_header article#blog_header_title div h1 {
  color: #51c941;
  font-size: 88px;
}
body .wrapper section#blog_header article#blog_header_title div h2 {
  color: white;
}
body .wrapper section#blog_content {
  background: rgba(255, 255, 255, 0.65);
  width: 80%;
  margin: 0 auto;
  padding: 14px;
}
body .wrapper section#blog_content #blog_left {
  width: 60%;
  float: left;
  z-index: 10;
}
body .wrapper section#blog_content #blog_left article {
  width: 100%;
  padding: 14px;
  max-width: 600px;
  float: right;
  min-height: 0;
}
body .wrapper section#blog_content #blog_left article > div {
  width: 100%;
}
body .wrapper section#blog_content #blog_left article > div h1 {
  color: #00948e;
  text-align: left;
  font-size: 36px;
}
body .wrapper section#blog_content #blog_left article > div h2 {
  color: gray;
  text-align: left;
  font-size: 16px;
}
body .wrapper section#blog_content #blog_left article > div.post-excerpt {
  font-size: 16px;
}
body .wrapper section#blog_content #blog_left article > div.post-excerpt .view-article {
  color: #51c941;
  font-family: 'cartonslab', serif;
}
body .wrapper section#blog_content #blog_right {
  width: 40%;
  float: left;
  z-index: 10;
  padding: 14px;
}
body .wrapper section#blog_content #blog_right article {
  min-height: 0;
  width: 100%;
}
body .wrapper section#blog_content #blog_right article#sidebar_social_media {
  zoom: 1;
}
body .wrapper section#blog_content #blog_right article#sidebar_social_media:before,
body .wrapper section#blog_content #blog_right article#sidebar_social_media:after {
  content: "";
  display: table;
}
body .wrapper section#blog_content #blog_right article#sidebar_social_media:after {
  clear: both;
}
body .wrapper section#blog_content #blog_right article.featured-post {
  background: #00948e;
  margin: 14px 0;
}
body .wrapper section#blog_content #blog_right article.featured-post div h2 > a {
  color: white;
  font-size: 16px;
}
body .wrapper section#blog_content #blog_right article.featured-post div h2 > a span.cursive {
  text-transform: none;
  font-family: 'lavanderia_sturdy';
  font-size: 36px;
}
body .wrapper section#blog_content #blog_right article.featured-post div.post-thumbnail {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
body .wrapper section#blog_content #blog_right article.featured-post div.post-thumbnail img {
  width: 100%;
  height: 100%;
}
body .wrapper section#blog_content #blog_right article#wp_sidebar form.search {
  padding: 14px;
  background: lightgray;
  width: 100%;
}
body .wrapper section#blog_content #blog_right article#wp_sidebar form.search input {
  width: 50%;
  margin: 0;
}
body .wrapper section#blog_content #blog_right article#wp_sidebar form.search button {
  width: 40%;
  margin: 0;
  font-family: 'cartonslab', serif;
  font-size: 16px;
}
body .wrapper hr {
  border: 0;
  height: 15px;
  background: url(../stash-img/global/wood.png) repeat-x;
  margin: 0;
}
body .wrapper .social-media {
  margin: 0;
  width: 100%;
}
body .wrapper .social-media a {
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  height: 40px;
  width: 40px;
}
body .wrapper a.ravelry {
  background-image: url('../stash-img/home/home.social.1.png');
}
body .wrapper a.facebook {
  background-image: url('../stash-img/home/home.social.2.png');
}
body .wrapper a.pinterest {
  background-image: url('../stash-img/home/home.social.3.png');
}
body .wrapper a.twitter {
  background-image: url('../stash-img/home/home.social.4.png');
}
body .wrapper a.youtube {
  background-image: url('../stash-img/home/home.social.5.png');
}
body .wrapper a.instagram {
  background-image: url('../stash-img/home/home.instagram_03.png');
}
body .wrapper #blog_right .social-media a {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  display: inline-block;
  height: 40px;
  width: 40px;
}
body section > article.mailing-list {
  background: #51c941;
  min-height: 0;
  margin-bottom: 14px;
}
body section > article.mailing-list div h1,
body section > article.mailing-list div h2,
body section > article.mailing-list div form {
  display: inline-block;
  margin-right: 14px;
}
body section > article.mailing-list div h1 {
  font-size: 36px;
  color: #00948e;
}
body section > article.mailing-list div h2 {
  color: white;
  font-size: 16px;
}
body section > article.mailing-list div form {
  width: 45%;
  margin-right: 0;
  display: inline-block;
}
body section > article.mailing-list div form input {
  width: 35%;
}
body section#footer_mailing_list {
  background: white;
  clear: left;
}
body section#footer_mailing_list article {
  background: white;
}
body section#footer_mailing_list article h1 {
  color: #00948e;
}
body section#footer_mailing_list article h2 {
  color: #51c941;
}
body section#stash_footer {
  background: #00948e;
  padding-top: 14px;
  height: 200px;
}
body section#stash_footer > div {
  float: left;
}
body section#stash_footer > div#stash_footer_nav {
  width: 70%;
}
body section#stash_footer > div#stash_footer_address {
  width: 30%;
  background: url('../stash-img/global/logo.white.png') top right no-repeat;
}
body section#stash_footer > div#stash_footer_address address {
  font-size: 18px;
  color: white;
  right: 28px;
  float: right;
  text-align: right;
  top: 50px;
  right: 100px;
}
body section#stash_footer nav .menu > ul {
  padding: 0;
  margin: 0;
}
body section#stash_footer nav .menu > ul > li {
  display: inline-block;
  padding: 14px;
}
body section#stash_footer nav .menu > ul > li a {
  font-family: 'cartonslab', serif;
  color: #b5dfe4;
  font-size: 16px;
}
body section#stash_footer nav .menu > ul > li a:hover {
  color: white;
}
body section#stash_footer nav .menu > ul > li:after {
  content: "\2022";
  position: absolute;
  width: 8px;
  right: 0;
  height: 100%;
  line-height: 100%;
  font-size: 16px;
  color: #b5dfe4;
}
body section#stash_footer nav .menu > ul > li:last-child:after {
  display: none;
}
body section#stash_footer .social-media {
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
  padding-left: 28px;
}
body section#blog {
  background: rgba(255, 255, 255, 0.65);
}
body section#blog article.stash-post h1 {
  color: #00948e;
}
body.home #background_image {
  background-image: url('../stash-img/home/home.header.jpg');
  height: 750px;
}
body.home .wrapper > .header {
  height: 200px;
}
body.home section article#it_could_be_anything {
  height: 200px;
  min-height: 200px;
  background: rgba(0, 148, 142, 0.65);
}
body.home section article#it_could_be_anything h1 {
  color: #b5dfe4;
  font-size: 88px;
}
body.home section article#it_could_be_anything h2,
body.home section article#it_could_be_anything h2 > a,
body.home section article#it_could_be_anything p {
  color: white;
}
body.home section article#join_the_creativity {
  height: 350px;
  min-height: 350px;
  background: transparent;
  zoom: 1;
}
body.home section article#join_the_creativity:before,
body.home section article#join_the_creativity:after {
  content: "";
  display: table;
}
body.home section article#join_the_creativity:after {
  clear: both;
}
body.home section article#join_the_creativity h1 {
  color: white;
}
body.home section article#join_the_creativity h2,
body.home section article#join_the_creativity h2 > a {
  color: #b5dfe4;
}
body.home section article#join_the_creativity > div {
  margin: 0;
  margin-top: 90px;
  width: 50%;
  float: right;
}
body.home section article#join_the_creativity > div .social-media {
  text-align: center;
  padding: 0;
  margin: 0;
}
body.home section article#join_the_creativity > div form {
  text-align: center;
}
body.home section article#join_the_creativity > div form input {
  width: 35%;
}
body.home section article#join_the_creativity > div.left h2 {
  margin: 0;
  padding: 56px 14px;
  width: auto;
  display: inline-block;
  padding-right: 100px;
  text-align: left;
  background: url('../stash-img/global/logo.white.png') right top no-repeat;
}
body.home section article#happiness_is_in_the_potential {
  background: white;
}
body.home section article#happiness_is_in_the_potential h1,
body.home section article#happiness_is_in_the_potential p {
  color: #00948e;
  text-align: center;
}
body.home section article#happiness_is_in_the_potential h2,
body.home section article#happiness_is_in_the_potential h2 > a {
  color: #51c941;
}
body.home section article#home_image_links hr {
  width: 75%;
  margin: 0 auto;
}
body.home section article#home_image_links div.stash-image-links div.stash-image-link {
  cursor: pointer;
  padding: 1px;
  background-repeat: no-repeat;
  margin-bottom: 14px;
  overflow: hidden;
}
body.home section article#home_image_links div.stash-image-links div.stash-image-link div {
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: 'cartonslab', serif;
  margin: 14px 0;
}
body.home section article#home_image_links div.stash-image-links div.stash-image-link div span.cursive {
  font-family: 'lavanderia_sturdy';
  font-size: 36px;
}
body.home section article#home_image_links div.stash-image-links div.stash-image-link div.stash-image-link-title {
  font-size: 20px;
}
body.home section article#home_image_links div.stash-image-links div.stash-image-link div.stash-image-link-content,
body.home section article#home_image_links div.stash-image-links div.stash-image-link div.stash-image-link-footer {
  font-size: text-size;
  max-height: 0;
  margin: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
body.home section article#home_image_links div.stash-image-links div.stash-image-link div.stash-image-link-content {
  color: #b5dfe4;
  max-width: 75%;
  margin: 0 auto;
}
body.home section article#home_image_links div.stash-image-links div.stash-image-link:hover div.stash-image-link-content,
body.home section article#home_image_links div.stash-image-links div.stash-image-link:hover div.stash-image-link-footer {
  max-height: 100px;
  margin: 14px auto;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
body.about #background_image {
  background-image: url('../stash-img/about/about.header.jpg');
  height: 300px;
}
body.about section article#about_stash {
  background: #009193;
}
body.about section article#about_stash h1 {
  color: #51c941;
  font-size: 88px;
}
body.about section article#about_stash h2 {
  color: #b5dfe4;
}
body.about section article#about_stash h3 {
  color: white;
}
body.about section article#about_stash p {
  color: white;
}
body.about section article#the_stash_rules {
  background: white;
}
body.about section article#the_stash_rules h1 {
  color: #00948e;
  font-size: 36px;
}
body.about section article#the_stash_rules h2,
body.about section article#the_stash_rules h2 > a {
  color: #7bc246;
}
body.about section article#the_stash_rules h3,
body.about section article#the_stash_rules p {
  color: gray;
}
body.about section article#sonia_ruyts {
  background: #7bc246;
  min-height: 0;
}
body.about section article#sonia_ruyts h1 {
  color: white;
  font-size: 36px;
}
body.about section article#sonia_ruyts h2,
body.about section article#sonia_ruyts h3,
body.about section article#sonia_ruyts h2 > a {
  color: #b5dfe4;
  font-size: 16px;
}
body.about section article#sonia_ruyts p {
  color: white;
  margin: 14px 0;
}
body.about section article#sonia_ruyts h1,
body.about section article#sonia_ruyts h2,
body.about section article#sonia_ruyts h3,
body.about section article#sonia_ruyts p {
  text-align: left;
}
body.about section article#sonia_ruyts .content > a {
  display: inline-block;
  float: left;
}
body.about section article#sonia_ruyts .content > a > img {
  width: 200px;
}
body.events-gridview #background_image,
body.single-tribe_events #background_image,
body.events-list #background_image {
  background-image: url('../stash-img/classes/classes.header.jpg');
}
body.events-gridview section article#classes_and_events,
body.single-tribe_events section article#classes_and_events,
body.events-list section article#classes_and_events {
  background: #7bc246;
  background: rgba(123, 194, 70, 0.65);
}
body.events-gridview section article#classes_and_events h1,
body.single-tribe_events section article#classes_and_events h1,
body.events-list section article#classes_and_events h1 {
  font-size: 88px;
}
body.events-gridview section article#classes_and_events h1,
body.single-tribe_events section article#classes_and_events h1,
body.events-list section article#classes_and_events h1,
body.events-gridview section article#classes_and_events h3,
body.single-tribe_events section article#classes_and_events h3,
body.events-list section article#classes_and_events h3,
body.events-gridview section article#classes_and_events p,
body.single-tribe_events section article#classes_and_events p,
body.events-list section article#classes_and_events p {
  color: white;
}
body.events-gridview section article#classes_and_events h2,
body.single-tribe_events section article#classes_and_events h2,
body.events-list section article#classes_and_events h2,
body.events-gridview section article#classes_and_events h2 > a,
body.single-tribe_events section article#classes_and_events h2 > a,
body.events-list section article#classes_and_events h2 > a {
  color: #b5dfe4;
}
body.events-gridview section article#save_the_dates h1,
body.single-tribe_events section article#save_the_dates h1,
body.events-list section article#save_the_dates h1 {
  color: #00948e;
}
body.events-gridview section article#save_the_dates h2,
body.single-tribe_events section article#save_the_dates h2,
body.events-list section article#save_the_dates h2 {
  text-align: left;
}
body.events-gridview section article#save_the_dates .stash-class,
body.single-tribe_events section article#save_the_dates .stash-class,
body.events-list section article#save_the_dates .stash-class {
  zoom: 1;
  margin-bottom: 14px;
}
body.events-gridview section article#save_the_dates .stash-class:before,
body.single-tribe_events section article#save_the_dates .stash-class:before,
body.events-list section article#save_the_dates .stash-class:before,
body.events-gridview section article#save_the_dates .stash-class:after,
body.single-tribe_events section article#save_the_dates .stash-class:after,
body.events-list section article#save_the_dates .stash-class:after {
  content: "";
  display: table;
}
body.events-gridview section article#save_the_dates .stash-class:after,
body.single-tribe_events section article#save_the_dates .stash-class:after,
body.events-list section article#save_the_dates .stash-class:after {
  clear: both;
}
body.events-gridview section article#save_the_dates .stash-class > div,
body.single-tribe_events section article#save_the_dates .stash-class > div,
body.events-list section article#save_the_dates .stash-class > div {
  width: 70%;
  float: left;
}
body.events-gridview section article#save_the_dates .stash-class > div p,
body.single-tribe_events section article#save_the_dates .stash-class > div p,
body.events-list section article#save_the_dates .stash-class > div p {
  font-weight: normal;
  margin: 7px 0;
}
body.events-gridview section article#save_the_dates .stash-class .stash-class-header h2,
body.single-tribe_events section article#save_the_dates .stash-class .stash-class-header h2,
body.events-list section article#save_the_dates .stash-class .stash-class-header h2 {
  margin-top: 0;
}
body.events-gridview section article#save_the_dates .stash-class .stash-class-image,
body.single-tribe_events section article#save_the_dates .stash-class .stash-class-image,
body.events-list section article#save_the_dates .stash-class .stash-class-image {
  width: auto;
  float: left;
  padding-right: 28px;
}
body.events-gridview section article#save_the_dates .stash-class .stash-class-image img,
body.single-tribe_events section article#save_the_dates .stash-class .stash-class-image img,
body.events-list section article#save_the_dates .stash-class .stash-class-image img {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
body.events-gridview section article#save_the_dates .stash-class .stash-class-content,
body.single-tribe_events section article#save_the_dates .stash-class .stash-class-content,
body.events-list section article#save_the_dates .stash-class .stash-class-content {
  width: 70%;
  float: left;
}
body.products #background_image {
  background-image: url('../stash-img/products/products.header.jpg');
}
body.products section article#products {
  min-height: 400px;
  background: rgba(0, 148, 142, 0.65);
}
body.products section article#products h1 {
  color: #51c941;
  font-size: 88px;
}
body.products section article#products h2,
body.products section article#products p {
  color: white;
}
body.products section article#local_artisan_favorites h1 {
  color: #00948e;
}
body.products section article#local_artisan_favorites h2 {
  color: #51c941;
}
body.products h1 {
  clear: both;
}
body.products .stash-products-section {
  clear: both;
  width: 438px;
  margin: 0 auto;
}
body.products .stash-products-section .empty {
  text-align: center;
}
body.products .stash-products-section .stash-product {
  float: left;
  width: 146px;
  padding: 14px;
  font-family: 'foundrysterling-mediumregular';
  margin-left: 0px;
  margin-right: 0px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
body.products .stash-products-section .stash-product:hover {
  background-color: #b3dfdd;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
body.products .stash-products-section .stash-product .stash-product-pinterest {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: all opacity ease-out;
  -moz-transition: all opacity ease-out;
  -o-transition: all opacity ease-out;
  transition: all opacity ease-out;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
body.products .stash-products-section .stash-product .stash-product-pinterest:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
body.products .stash-products-section .stash-product .stash-product-pinterest img {
  margin-top: 3em;
  margin-left: 2.3em;
}
body.products .stash-products-section .stash-product > div .stash-product-title {
  text-align: left;
  color: gray !important;
  margin-bottom: 0;
  font-size: 1.5em;
}
body.products .stash-products-section .stash-product > div.stash-product-content p {
  margin-top: 0;
  font-weight: normal;
  font-size: 1em;
}
body.products .stash-products-section .stash-product > div.stash-product-footer p {
  font-weight: normal;
  font-size: 1em;
}
body.come-visit-us #background_image {
  background-image: url('../stash-img/contact/contact.header.jpg');
  height: 800px;
}
body.come-visit-us section article#come_visit_us {
  height: 500px;
  background: rgba(0, 148, 142, 0.65);
}
body.come-visit-us section article#come_visit_us h1 {
  color: #51c941;
  font-size: 88px;
}
body.come-visit-us section article#come_visit_us h2,
body.come-visit-us section article#come_visit_us h3,
body.come-visit-us section article#come_visit_us p {
  color: white;
}
body.come-visit-us section article#contact_us h1 {
  color: #00948e;
}
body.come-visit-us section article#contact_us #store_hours {
  width: 30%;
  float: left;
}
body.come-visit-us section article#contact_us #store_hours h1,
body.come-visit-us section article#contact_us #store_hours h2,
body.come-visit-us section article#contact_us #store_hours p {
  text-align: left;
}
body.come-visit-us section article#contact_us #store_hours h2,
body.come-visit-us section article#contact_us #store_hours p {
  margin: 0;
}
body.come-visit-us section article#contact_us #store_hours h2 {
  margin-top: 14px;
}
body.come-visit-us section article#contact_us #store_hours p {
  font-weight: normal;
}
body.come-visit-us section article#contact_us #store_hours ul {
  padding-left: 0;
}
body.come-visit-us section article#contact_us #store_hours ul li {
  list-style: none;
  font-size: 18px;
}
body.come-visit-us section article#contact_us #store_hours ul li > span {
  width: 50%;
  display: inline-block;
}
body.come-visit-us section article#contact_us #map {
  width: 70%;
  padding-right: 28px;
  float: left;
}
body.come-visit-us section article#contact_us #map h2 {
  text-align: left;
}
body.come-visit-us section article#contact_us #map .the_map_view a.map_view {
  display: block;
  cursor: pointer;
  height: 295px;
  width: 100%;
  border: 1px solid #333;
  background: url('../stash-img/contact/map_view.png') left center no-repeat;
}
body.come-visit-us section article#contact_us #map .the_map_view a.map_view:hover {
  border-color: #51c941;
}
body.come-visit-us section article#contact_us #map .the_map_view a {
  font-size: 1.2em;
  font-weight: bold;
}
body.come-visit-us section article#contact_us #map .the_map_view a:hover {
  color: #51c941;
}
body.come-visit-us section article#visit_us_in_oregon {
  float: left;
  min-height: 0;
}
body.come-visit-us section article#visit_us_in_oregon div {
  background: url('../stash-img/contact/contact.ad.jpg') center center no-repeat;
  background-size: cover;
}
body.come-visit-us section article#visit_us_in_oregon h1,
body.come-visit-us section article#visit_us_in_oregon h2 {
  color: white;
}
body.come-visit-us section article#visit_us_in_oregon h1 {
  padding-top: 14px;
}
body.come-visit-us section article#visit_us_in_oregon h2 {
  padding-bottom: 14px;
}
body .instagram-feed {
  clear: both;
  width: 100%;
  height: 250px;
  position: relative;
  z-index: 1;
  width: 90%!important;
  margin: 42px auto 28px auto;
  background: url('../img/ajax-loader.gif') center center no-repeat;
}
body .instagram-feed.loaded {
  background: none;
}
body .instagram-feed .instagram-ctrl-right,
body .instagram-feed .instagram-ctrl-left,
body .instagram-feed .instagram-icon,
body .instagram-feed .instagram-feed-pagination,
body .instagram-feed .instagram-feed-slider {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
body .instagram-feed .instagram-feed-slider {
  padding-top: 10px;
  position: absolute;
  margin-left: 0px;
  height: 250px;
}
body .instagram-feed .instagram-feed-post {
  margin-right: 20px;
  margin-left: 20px;
  width: 150px;
  z-index: 4;
  float: left;
}
body .instagram-feed .instagram-feed-post .instagram-feed-image {
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.75);
}
body .instagram-feed .instagram-feed-post .instagram-feed-caption {
  -webkit-transition: all opacity ease-out;
  -moz-transition: all opacity ease-out;
  -o-transition: all opacity ease-out;
  transition: all opacity ease-out;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  padding: 2px;
  background-color: rgba(1, 1, 1, 0.75);
}
body .instagram-feed .instagram-feed-post .instagram-feed-caption p {
  margin: 0;
  font-family: 'foundrysterling-mediumregular';
  font-size: 1em;
  color: #FFF!important;
}
body .instagram-feed .instagram-feed-post:hover .instagram-feed-caption,
body .instagram-feed .instagram-feed-post.showing .instagram-feed-caption {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
body .instagram-feed .instagram-ctrl-right,
body .instagram-feed .instagram-ctrl-left {
  margin-left: -35px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: .4em .75em;
  color: #00948e;
  float: left;
  position: relative;
  top: 48px;
  font-size: 2.5em;
  z-index: 5;
}
body .instagram-feed .instagram-ctrl-right:hover,
body .instagram-feed .instagram-ctrl-left:hover {
  color: #333;
}
body .instagram-feed .instagram-ctrl-right {
  margin-right: -35px;
  float: right;
}
body .instagram-feed .instagram-icon {
  text-align: center;
  top: 200px;
}
body .instagram-feed .instagram-icon a {
  margin: 0 auto;
  display: block;
  background: url('../stash-img/home/home.instagram_03.png') center center no-repeat;
  background-size: 100%;
  width: 33px;
  height: 32px;
}
body .instagram-feed .instagram-icon a span {
  display: none;
}
body .instagram-feed .instagram-feed-pagination {
  text-align: center;
}
body .instagram-feed .instagram-feed-pagination a {
  margin-right: 10px;
  font-size: 1.15em;
  color: #00948e !important;
}
body .instagram-feed .instagram-feed-pagination a:hover {
  color: #51c941 !important;
}
@media only screen and (max-width: 767px) {
  .mobile {
    display: block;
  }
  a.post-edit-link {
    display: none;
  }
  .article-mobile-style {
    min-height: 0;
  }
  .article-mobile-style > div {
    width: 90%;
  }
  .article-mobile-style > div > h1 {
    font-size: 36px !important;
  }
  .article-mobile-style > div h2 {
    font-family: 'cartonslab', serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  .article-mobile-style > div h3 {
    font-size: 20px;
    text-align: center;
  }
  .article-mobile-style > div h1,
  .article-mobile-style > div h2,
  .article-mobile-style > div h3,
  .article-mobile-style > div h4 {
    margin: 14px 0;
  }
  .article-mobile-style > div h1 + h2 {
    margin-top: -14px;
  }
  .article-mobile-style > div p {
    font-weight: bold;
    font-size: 16px;
  }
  .article-mobile-style > div > div.columns {
    -moz-column-width: 50%;
    -moz-column-count: 2;
    -moz-column-gap: 28px;
    -moz-column-rule-color: transparent;
    -moz-column-rule-style: none;
    -moz-column-rule-width: 0;
    -webkit-column-width: 50%;
    -webkit-column-count: 2;
    -webkit-column-gap: 28px;
    -webkit-column-rule-color: transparent;
    -webkit-column-rule-style: none;
    -webkit-column-rule-width: 0;
    column-width: 50%;
    column-count: 2;
    column-gap: 28px;
    column-rule-color: transparent;
    column-rule-style: none;
    column-rule-width: 0;
  }
  .article-mobile-style > div > div.columns > p {
    font-weight: bold;
  }
  .article-mobile-style > div > div.columns > p:first-child {
    margin-top: 0;
  }
  .article-mobile-style.narrow > div > div {
    width: 100%;
  }
  body .wrapper .header nav #nav_toggle_label {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px;
    background: #00948e;
    color: white;
    font-size: 20px;
    z-index: 10;
    font-family: 'cartonslab', serif;
  }
  body .wrapper .header nav #nav_toggle_label:before {
    content: "Menu";
  }
  body .wrapper .header nav #nav_toggle {
    visibility: hidden;
  }
  body .wrapper .header nav #nav_toggle ~ .menu {
    display: none;
  }
  body .wrapper .header nav #nav_toggle:checked ~ .menu {
    display: block;
  }
  body .wrapper .header nav #nav_toggle:checked + label:before {
    content: "X";
  }
  body .wrapper .header nav .menu {
    width: 300px;
    top: 0;
    right: 0;
    background: #00615d;
  }
  body .wrapper .header nav .menu > ul {
    padding: 14px 0;
  }
  body .wrapper .header nav .menu > ul > li {
    float: none !important;
    padding: 14px;
    display: block;
    width: 100%;
    text-align: left;
  }
  body .wrapper section > article {
    min-height: 0;
  }
  body .wrapper section > article > div {
    width: 90%;
  }
  body .wrapper section > article > div > h1 {
    font-size: 36px !important;
  }
  body .wrapper section > article > div h2 {
    font-family: 'cartonslab', serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  body .wrapper section > article > div h3 {
    font-size: 20px;
    text-align: center;
  }
  body .wrapper section > article > div h1,
  body .wrapper section > article > div h2,
  body .wrapper section > article > div h3,
  body .wrapper section > article > div h4 {
    margin: 14px 0;
  }
  body .wrapper section > article > div h1 + h2 {
    margin-top: -14px;
  }
  body .wrapper section > article > div p {
    font-weight: bold;
    font-size: 16px;
  }
  body .wrapper section > article > div > div.columns {
    -moz-column-width: 50%;
    -moz-column-count: 2;
    -moz-column-gap: 28px;
    -moz-column-rule-color: transparent;
    -moz-column-rule-style: none;
    -moz-column-rule-width: 0;
    -webkit-column-width: 50%;
    -webkit-column-count: 2;
    -webkit-column-gap: 28px;
    -webkit-column-rule-color: transparent;
    -webkit-column-rule-style: none;
    -webkit-column-rule-width: 0;
    column-width: 50%;
    column-count: 2;
    column-gap: 28px;
    column-rule-color: transparent;
    column-rule-style: none;
    column-rule-width: 0;
  }
  body .wrapper section > article > div > div.columns > p {
    font-weight: bold;
  }
  body .wrapper section > article > div > div.columns > p:first-child {
    margin-top: 0;
  }
  body .wrapper section > article.narrow > div > div {
    width: 100%;
  }
  body .wrapper section > article#sonia_ruyts .content > a {
    width: 100%;
    text-align: center;
  }
  body .wrapper section > article#save_the_dates .stash-class > div {
    width: 100%;
  }
  body .wrapper section > article#save_the_dates .stash-class .stash-class-image {
    margin-bottom: 14px;
  }
  body .wrapper section > article#it_could_be_anything {
    height: auto;
    min-height: 0;
  }
  body .wrapper section > article#join_the_creativity {
    display: none;
  }
  body .wrapper section > article#happiness_is_in_the_potential .instagram-feed-pagination {
    display: none !important;
  }
  body .wrapper section > article#home_image_links hr,
  body .wrapper section > article#home_image_links .stash-image-link-content {
    display: none;
  }
  body .wrapper section > article#home_image_links .stash-image-link-footer {
    max-height: 100px;
    margin: 14px 0;
  }
  body .wrapper section > article#contact_us div#map,
  body .wrapper section > article#contact_us div#store_hours {
    width: 100%;
  }
  body .wrapper section > article.mailing-list {
    display: none;
  }
  body .wrapper section#blog_content {
    width: 100%;
  }
  body .wrapper section#blog_content div#blog_left,
  body .wrapper section#blog_content div#blog_right {
    width: 100%;
  }
  body .wrapper section#blog_content div#blog_left article,
  body .wrapper section#blog_content div#blog_right article {
    margin: 0 auto;
  }
  body section#mailing_list > div h1 {
    margin-bottom: 0;
  }
  body section#mailing_list > div h2 {
    margin-top: 0;
  }
  body section#mailing_list > div input {
    margin: 0;
    width: 100%;
    margin: none;
  }
  body section#mailing_list > div button {
    width: 100%;
  }
  body section#footer_mailing_list {
    display: block;
  }
  body section#footer_mailing_list article.mailing-list {
    display: block !important;
  }
  body section#footer_mailing_list article.mailing-list form {
    width: 100%;
  }
  body section#footer_mailing_list article.mailing-list form input {
    width: 100%;
  }
  body section#footer_mailing_list article.mailing-list form button {
    width: 100%;
  }
  body section#stash_footer > div#stash_footer_nav nav {
    display: none;
  }
  body section#stash_footer > div#stash_footer_nav .social-media {
    width: 100%;
    padding: 0;
  }
  body section#stash_footer > div#stash_footer_address {
    width: 100%;
  }
  body.products .stash-products-section .stash-product {
    display: block;
    width: 100%;
    height: auto;
  }
  body.products .stash-products-section .stash-product > div {
    margin-right: 14px;
  }
  body.products .stash-products-section .stash-product > div .stash-product-title {
    text-align: left;
    color: gray !important;
    margin-bottom: 0;
  }
  body.products .stash-products-section .stash-product > div.stash-product-content p {
    margin-top: 0;
    font-weight: normal;
  }
  body.products .stash-products-section .stash-product > div.stash-product-footer p {
    font-weight: normal;
  }
}
