@media only screen and (max-width: 909px) {// main menu fix at 909px
	
	body {.wrapper {.header {nav { .menu{ul{li {padding: 2*@u 1%; font-size: @text_size;}}}}}}}
	
	#join_the_creativity{ h2{font-size: 16px;}}
}

@media only screen and (max-width: 767px) {	
    .mobile { display: block; }
    a.post-edit-link { display: none; }
    .article-mobile-style {
        min-height: 0;

        > div {
            width: 90%;

            >h1 {
                font-size: @h1_smaller_size !important;
            }

            h2 {
                font-family: 'cartonslab', serif;
                font-size: @h2_size;
                text-align: center;
                text-transform: uppercase;
            }

            h3 {
                font-size: @h3_size;
                text-align: center;
            }

            h1, h2, h3, h4 {
                margin: @u 0;
            }

            h1 + h2 {
                margin-top: -@u;
            }

            p {
                font-weight: bold;
                font-size: @text_size;
            }

            >div.columns {
                .columns(50%, 2, 2*@u, transparent, none, 0);

                >p {
                    font-weight: bold;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        &.narrow {
            > div > div {
                width: 100%;
            }
        }
    }

    body {
        .wrapper {
            .header {
                nav {
                    #nav_toggle_label {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: @u;
                        background: @stash_teal;
                        color: white;
                        font-size: @h2_size;
                        z-index: 10;
                        font-family: 'cartonslab', serif;

                        &:before { content: "Menu"; }
                    }
                    #nav_toggle {
                        visibility: hidden;
                    }
                    #nav_toggle ~ .menu {
                        display: none;
                    }
                    #nav_toggle:checked ~ .menu {
                        display: block;
                    }
                    #nav_toggle:checked + label {
                        &:before { content: "X"; }
                    }

                    .menu {
                        width: 300px;
                        top: 0; right: 0;
                        background: darken(@stash_teal, 10%);

                        >ul {
                            padding: @u 0;
                            >li {
                                float: none !important;
                                padding: @u;
                                display: block;
                                width: 100%;
                                text-align: left;
                            }
                        }
                    }
                }
            }
            
			&.home{ 
				#background_image{ height: 700px;}
			}

            section {
                >article {
                    .article-mobile-style;

                    &#sonia_ruyts {
                        .content {
                            >a {
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }

                    &#save_the_dates {
                        .stash-class {
                            > div { width: 100%; }
                            .stash-class-image {
                                margin-bottom: @u;
                            }
                        }
                    }

                    &#it_could_be_anything {
                        height: auto;
                        min-height: 0;
                    }

                    &#join_the_creativity {
                        display: none;
                    }

                    &#happiness_is_in_the_potential {
                        .instagram-feed-pagination {
                            display: none !important;
                        }
                    }

                    &#home_image_links {

                        hr,
                        .stash-image-link-content {
                            display: none;
                        }
                        .stash-image-link-footer {
                            max-height: 100px;
                            margin: @u 0;
                        }
                    }

                    &#contact_us {
                        div#map, div#store_hours {
                            width: 100%;
                        }
                    }

                    &.mailing-list {
                        display: none;
                    }
                }
            }

            section#blog_content {
                width: 100%;

                div#blog_left, div#blog_right {
                    width: 100%;

                    article {
                        margin: 0 auto;
                    }
                }
            }
        }

        section#mailing_list {
            >div {
                h1 { margin-bottom: 0; } 
                h2 { margin-top: 0; }
                input { margin: 0; width: 100%; margin: none; }
                button { width: 100%; }
            }
        }

        section#footer_mailing_list {
            display: block;

            article.mailing-list {
                display: block !important;

                form {
                    width: 100%;
                    input { width: 100%; }
                    button { width: 100%; }
                }
            }
        }

        section#stash_footer {
            >div {
                &#stash_footer_nav { 
                    nav { display: none; }
                    .social-media { width: 100%; padding: 0;}
                }
                &#stash_footer_address { width: 100%; }
            }
        }

        // Products page
        &.products {
            .stash-products-section {

                .stash-product {
                    display: block;
                    width: 100%;
                    height: auto;

                    >div {
                        margin-right: @u;

                        .stash-product-title { 
                            text-align: left; 
                            color: gray !important;
                            margin-bottom: 0;
                        }

                        &.stash-product-content {
                            p { margin-top: 0; font-weight: normal; }
                        }

                        &.stash-product-footer {
                            p { font-weight: normal; }
                        }
                    }
                }
            }
        }
    }
}